.form-section {
  @apply rounded bg-lightgrey p-2 mb-4;
}

.form-section-buttons {
  @apply flex flex-row justify-end items-center py-2;
}

.decorated-header {
  &:after {
    content: '';
    display: block;
    border-bottom: 2px solid #f56c0a;
    margin-top: 0.5rem;
    width: 50px;
  }
}
