/* eslint-disable */
body {
  @apply h-screen bg-darkgrey;
}


.form-section {
  @apply rounded bg-lightgrey p-2;
}

.form-section-buttons {
  @apply flex flex-row justify-end items-center py-2;
}

.decorated-header {
  &:after {
    content: '';
    display: block;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    margin-top: 0.5rem;
    width: 50px;
  }
}

.button {
  @apply py-1 px-4 rounded flex flex-row whitespace-no-wrap shadow;
  &:disabled {
    @apply opacity-50;
  }
}

.collapseNav {
  @apply shadow-left top-0 right-0 w-64 bg-southern fixed h-full overflow-auto ease-in-out transition-all duration-300 z-50;
}

@screen md {
  .collapseNav {
    @apply top-auto right-auto w-auto h-auto bg-darkgrey relative ml-auto translate-x-0 shadow-none;
  }
}

.border-theme-eastern,
.border-theme-eastern:after {
  @apply border-eastern;
}
.border-theme-northern,
.border-theme-northern:after {
  @apply border-northern;
}
.border-theme-northwestern,
.border-theme-northwestern:after {
  @apply border-northwestern;
}
.border-theme-southern,
.border-theme-southern:after {
  @apply border-southern;
}
.border-theme-western,
.border-theme-western:after  {
  @apply border-western;
}
.border-theme-fareastern,
.border-theme-fareastern:after {
  @apply border-fareastern;
}
.border-theme-central,
.border-theme-central:after {
  @apply border-central;
}
.border-theme-dark,
.border-theme-dark:after {
  @apply border-black;
}

.bg-theme-eastern {
  @apply bg-eastern text-black;
}
.bg-theme-northern {
  @apply bg-northern text-white;
}
.bg-theme-northwestern {
  @apply bg-northwestern text-black;
}
.bg-theme-southern {
  @apply bg-southern text-white;
}
.bg-theme-western {
  @apply bg-western text-white;
}
.bg-theme-fareastern {
  @apply bg-fareastern text-white;
}
.bg-theme-central {
  @apply bg-central text-white;
}
.bg-theme-dark {
  @apply bg-black text-white;
}
.bg-theme-darkgrey {
  @apply bg-darkgrey text-white;
}
.bg-theme-grey {
  @apply bg-grey text-black;
}
.bg-theme-midgrey {
  @apply bg-midgrey text-white;
}
.bg-theme-white {
  @apply bg-white text-darkgrey;
}
.bg-theme-primary {
  @apply bg-primary text-white;
}