:root {
    --grey-darkest: '#1f2d3d';
    --grey-dark: '#3c4858';
    --grey: '#c0ccda';
    --grey-light: '#e0e6ed';
    --grey-lightest: '#f9fafc';

    --far-eastern-light: '#DA0808';
    --far-eastern: '#DA0808';
    --far-eastern-dark: '#DA0808';
    --far-eastern-contrast: var(--grey-darkest);

    --eastern-light: '#82C606';
    --eastern: '#82C606';
    --eastern-dark: '#82C606';
    --eastern-contrast: var(--grey-darkest);

    --central-light: '#0888DC';
    --central: '#0888DC';
    --central-dark: '#0888DC';
    --central-contrast: var(--grey-darkest);

    --southern-light: '#F56C0A';
    --southern: '#F56C0A';
    --southern-dark: '#F56C0A';
    --southern-contrast: var(--grey-darkest);

    --northern-light: '#9D2C19';
    --northern: '#9D2C19';
    --northern-dark: '#9D2C19';
    --northern-contrast: var(--grey-darkest);

    --northwestern-light: '#F5D201';
    --northwestern: '#F5D201';
    --northwestern-dark: '#F5D201';
    --northwestern-contrast: var(--grey-darkest);

    --western-light: '#099D0D';
    --western: '#099D0D';
    --western-dark: '#099D0D';
    --western-contrast: var(--grey-darkest);
}