// icon color themes
.icon-far-eastern path {
  fill: theme('colors.fareastern.default');
}

.icon-eastern path {
  fill: theme('colors.eastern.default');
}

.icon-central path {
  fill: theme('colors.central.default');
}

.icon-southern path {
  fill: theme('colors.southern.default');
}

.icon-northern path {
  fill: theme('colors.northern.default');
}

.icon-north-western path {
  fill: theme('colors.northwestern.default');
}

.icon-western path {
  fill: theme('colors.western.default');
}
